body {
    background-color: darkblue;
    color:aliceblue;
}

.pokedex-container{
    border: 1px solid yellow;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 90%;
}
#pokemonList{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid red;
}
.fire{
    border: 1px solid red;
}
.grass{
    border: 1px solid green;
}
.pokemon-card{
    border: 1px solid #f0f0f0;
    border-radius:150px ;
    margin: 5%;
}

@media(width < 500px) {
    #pokemonList{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (width < 700px) and (width >= 500px){
    #pokemonList{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (width < 900px) and (width >= 700px){
    #pokemonList{
        grid-template-columns: repeat(3, 1fr);
    }
}